@import url(http://fonts.googleapis.com/css?family=Muli:300,400,400italic,300italic);

$red: #ad1724;
$aqua: #1ea094;

.borderbox {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
    color: white;
}

@mixin transitionCSS($property, $time) {
	transition: $property $time;
	-webkit-transition: $property $time; /* Safari */
}

@mixin opacity($opacityPercent, $opacityFraction) {
	.transparent_class {
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacityPercent)";

	  /* IE 5-7 */
	  filter: alpha(opacity=$opacityPercent);

	  /* Netscape */
	  -moz-opacity: $opacityFraction;

	  /* Safari 1.x */
	  -khtml-opacity: $opacityFraction;

	  /* Good browsers */
	  opacity: $opacityFraction;
	}
}
* {
	margin: 0;
	padding: 0;
	@extend .borderbox;
}

body {
	font-family: Arial, sans-serif;
	text-align: center;
}

h2 {
	font-family: 'Muli', sans-serif;
	margin: 26px 0;
	font-size: 40px;
	font-weight: 300;
}

a {
	color: $red;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 2px solid;
	padding-bottom: 3px;

	&:hover {
		color:#fff;
	}
}

a, p {
	font-size: 20px;
	margin: 30px 0;
}

p.body_copy {
	font-size: 16px;
}

#top_section {
	background: url('../images/top-bg.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 782px;
	color: #fff;
	border-bottom: 4px solid $aqua;

	h2 {
		margin-top: 10px;
		color: $aqua;
	}

	.container {
		padding-bottom: 60px;
	}
}

.logo_video_container {
	width: 598px;
	margin: 0 auto;
	min-height:344px;
	padding-top: 30px;
	#video_container {
		display:none;
		border: 4px solid $aqua;
		padding: 12px;
	}
}

#signup_copy {
	font-weight: bold;
	color: $aqua;
}

.container {
	width: 460px;
	margin:0 auto;
	display: inline-block;
	padding: 30px 0;
}

form.signup {

	input {
		border: 4px solid $red;
		padding: 16px 17px;
		color: $red;
		font-weight: bold;
		font-size: 19px;
		
		&:focus {
			outline: none;
		}

		&[type="text"] {
			
			background-color: rgba(0, 0, 0, 0);
		}
		&[type="submit"] {
			color:#fff;
			background-color: $red;

			&:hover {
				background-color: rgba(0, 0, 0, 0);
				border: 4px solid #fff;
				cursor: pointer;
			}
		}
	}
}

.clearboth {
	clear:both;
}
#middle_section {
	width: 100%;
	border-bottom: 4px solid $aqua;
}

#animated_graphic {
	min-height: 206px;
	position:relative;
}
#alert_graphic {
	
	position: absolute;
}

.info_graphic {
	position:relative;
	top: 50px;
	@include transitionCSS(top, 0.5s);
}

#bottom_section {
	background: url('../images/bottom-bg.jpg') no-repeat;
	background-size: cover;
	width:100%;
	min-height: 603px;
	color: #fff;
	h2 {
		color:#fff;
		width: 380px;
		margin: 26px auto;
	}
}

#get_excited {
	margin-top: 45px;
}

footer {
	padding: 20px 0;
	margin-top: 60px;
	p {
		font-size: 12px;
	}
}

@media (max-width: 595px) {
	.logo_video_container {
		width:100%;
		min-height: 0;
		#video {
			width:100%;
		}
	}
}

@media (max-width: 460px) {
	.container, .logo_video_container, footer, #bottom_section h2 {
		width: 100%;
		padding: 10px 20px;
	}

	#animated_graphic {
		min-height: 0;
		img {
			width:100%;
		}
	}
}

@media screen and (max-width: 405px) {
	input {
		width:100%;
		display:block;

		&[type="submit"] {
			margin-top: 5px;
		}
	}
}

@media screen and (max-width: 344px) {
	#logo {
		width:100%;
	}
}